section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
  flex: 1;

  padding: 50px 40px;

  img {
    width: 65px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    color: $transparent-white-p;

    line-height: 30px;
    font-size: 16px;

    margin-bottom: 60px;
  }

  p:hover {
  }

  button {
    background-color: $very-light-gray;

    border: 2px solid $very-light-gray;
    border-radius: 30px;

    padding: 12px 40px;

    font-weight: 700;

    transition: all 0.5s ease-in-out;

    cursor: pointer;

    &:hover {
      color: $very-light-gray !important;

      background-color: transparent;
    }
  }
}

@media screen and (max-width: 1000px) {
  section {
    p {
      margin-bottom: 0px;

      line-height: 25px;
    }
  }
}

@for $i from 1 through 3 {
  section:nth-child(#{$i}) {
    animation: sect-anim 1s ease-in-out #{calc($i/2) + 0.5}s both;
    z-index: -#{$i};
  }
}

@keyframes sect-anim {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@for $i from 1 through 12 {
  * .anim:nth-child(#{$i}) {
    animation: text-anim 1s ease-in-out #{calc($i/2) + 1}s both;
  }
}

@keyframes text-anim {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
